<h1>Sign Up</h1>
<%= form_for(@user) do |f| %>

	<div class="field">
		<%= f.label :name %> 
		<%= f.text_field :name %><br /> 
	</div>	
	
	<div class="field">
		<%= f.label :email %> 
		<%= f.text_field :email %><br /> 
	</div>
	
	<div class="field">
		<%= f.label :password %> 
		<%= f.password_field :password %><br /> 
	</div>	

	<div class="field">
		<%= f.label :password_confirmation, "Confirmation" %> 
		<%= f.password_field :password_confirmation %><br /> 
	</div>

	<div class="actions">
		<%= f.submit "Sign Up" %> 
	</div>
<% end %>
